* {
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    /*margin-top: 20px;*/
    outline: 1px solid #fff;

    transform: scale(2.5) translateY(50%); /*Mudança de 3 para 2.5 para melhor enquadramento*/
}

.game-container canvas {
    image-rendering:  pixelated;
    
}